<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Department Faculties</title>
</head>

<body onload="onLoadPopulate()">
	<table>
		<thead>
			<tr>
				<th class="head0">Sr no.</th>
				<th class="head0">Faculty name</th>
			</tr>
		</thead>
		<tbody id="faculty">
		</tbody>
	</table>
<input type="hidden" th:value="${departmentId}" id="departmentId"/>
<script src="javascript/path.js"></script> 
	<script src="javascript/DepartmentFaculties.js"></script>
</body>

</html>